/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.aglaoneme0000 {max-width:512px; max-height:512px; }
.aglaoneme0000::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0000::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0001 {max-width:512px; max-height:512px; }
.aglaoneme0001::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0001::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0002 {max-width:512px; max-height:512px; }
.aglaoneme0002::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0002::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0003 {max-width:512px; max-height:512px; }
.aglaoneme0003::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0003::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0004 {max-width:512px; max-height:512px; }
.aglaoneme0004::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0004::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0005 {max-width:512px; max-height:512px; }
.aglaoneme0005::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0005::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0006 {max-width:512px; max-height:512px; }
.aglaoneme0006::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0006::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0007 {max-width:512px; max-height:512px; }
.aglaoneme0007::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0007::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0008 {max-width:512px; max-height:512px; }
.aglaoneme0008::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-0.png);padding: 0; }
div.aglaoneme0008::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0009 {max-width:512px; max-height:512px; }
.aglaoneme0009::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0009::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0010 {max-width:512px; max-height:512px; }
.aglaoneme0010::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0010::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0011 {max-width:512px; max-height:512px; }
.aglaoneme0011::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0011::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0012 {max-width:512px; max-height:512px; }
.aglaoneme0012::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0012::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0013 {max-width:512px; max-height:512px; }
.aglaoneme0013::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0013::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0014 {max-width:512px; max-height:512px; }
.aglaoneme0014::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0014::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0015 {max-width:512px; max-height:512px; }
.aglaoneme0015::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0015::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0016 {max-width:512px; max-height:512px; }
.aglaoneme0016::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0016::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0017 {max-width:512px; max-height:512px; }
.aglaoneme0017::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-1.png);padding: 0; }
div.aglaoneme0017::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0018 {max-width:512px; max-height:512px; }
.aglaoneme0018::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0018::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0019 {max-width:512px; max-height:512px; }
.aglaoneme0019::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0019::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0020 {max-width:512px; max-height:512px; }
.aglaoneme0020::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0020::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0021 {max-width:512px; max-height:512px; }
.aglaoneme0021::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0021::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0022 {max-width:512px; max-height:512px; }
.aglaoneme0022::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0022::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0023 {max-width:512px; max-height:512px; }
.aglaoneme0023::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0023::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0024 {max-width:512px; max-height:512px; }
.aglaoneme0024::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0024::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0025 {max-width:512px; max-height:512px; }
.aglaoneme0025::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0025::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0026 {max-width:512px; max-height:512px; }
.aglaoneme0026::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-2.png);padding: 0; }
div.aglaoneme0026::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0027 {max-width:512px; max-height:512px; }
.aglaoneme0027::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0027::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0028 {max-width:512px; max-height:512px; }
.aglaoneme0028::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0028::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0029 {max-width:512px; max-height:512px; }
.aglaoneme0029::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0029::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0030 {max-width:512px; max-height:512px; }
.aglaoneme0030::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0030::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0031 {max-width:512px; max-height:512px; }
.aglaoneme0031::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0031::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0032 {max-width:512px; max-height:512px; }
.aglaoneme0032::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0032::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0033 {max-width:512px; max-height:512px; }
.aglaoneme0033::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0033::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0034 {max-width:512px; max-height:512px; }
.aglaoneme0034::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0034::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0035 {max-width:512px; max-height:512px; }
.aglaoneme0035::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-3.png);padding: 0; }
div.aglaoneme0035::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0036 {max-width:512px; max-height:512px; }
.aglaoneme0036::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0036::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0037 {max-width:512px; max-height:512px; }
.aglaoneme0037::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0037::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0038 {max-width:512px; max-height:512px; }
.aglaoneme0038::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0038::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0039 {max-width:512px; max-height:512px; }
.aglaoneme0039::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0039::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0040 {max-width:512px; max-height:512px; }
.aglaoneme0040::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0040::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0041 {max-width:512px; max-height:512px; }
.aglaoneme0041::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0041::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0042 {max-width:512px; max-height:512px; }
.aglaoneme0042::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0042::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0043 {max-width:512px; max-height:512px; }
.aglaoneme0043::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0043::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0044 {max-width:512px; max-height:512px; }
.aglaoneme0044::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-4.png);padding: 0; }
div.aglaoneme0044::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0045 {max-width:512px; max-height:512px; }
.aglaoneme0045::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0045::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0046 {max-width:512px; max-height:512px; }
.aglaoneme0046::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0046::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0047 {max-width:512px; max-height:512px; }
.aglaoneme0047::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0047::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0048 {max-width:512px; max-height:512px; }
.aglaoneme0048::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0048::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0049 {max-width:512px; max-height:512px; }
.aglaoneme0049::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0049::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0050 {max-width:512px; max-height:512px; }
.aglaoneme0050::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0050::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0051 {max-width:512px; max-height:512px; }
.aglaoneme0051::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0051::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0052 {max-width:512px; max-height:512px; }
.aglaoneme0052::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0052::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0053 {max-width:512px; max-height:512px; }
.aglaoneme0053::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-5.png);padding: 0; }
div.aglaoneme0053::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0054 {max-width:512px; max-height:512px; }
.aglaoneme0054::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-6.png);padding: 0; }
div.aglaoneme0054::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0055 {max-width:512px; max-height:512px; }
.aglaoneme0055::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-6.png);padding: 0; }
div.aglaoneme0055::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0056 {max-width:512px; max-height:512px; }
.aglaoneme0056::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-6.png);padding: 0; }
div.aglaoneme0056::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0057 {max-width:512px; max-height:512px; }
.aglaoneme0057::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-6.png);padding: 0; }
div.aglaoneme0057::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0058 {max-width:512px; max-height:512px; }
.aglaoneme0058::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-6.png);padding: 0; }
div.aglaoneme0058::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0059 {max-width:512px; max-height:512px; }
.aglaoneme0059::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-6.png);padding: 0; }
div.aglaoneme0059::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.aglaoneme0060 {max-width:512px; max-height:512px; }
.aglaoneme0060::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(aglaoneme-6.png);padding: 0; }
div.aglaoneme0060::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:80829fc1428f44d9537a614c8950e5cb:c4483dfb35ed477953a5484f77e73987:522fb5d50a7ef1b3c5ad7fc30ee90dc0$ */
