/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.bambou0000 {max-width:512px; max-height:512px; }
.bambou0000::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0000::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0001 {max-width:512px; max-height:512px; }
.bambou0001::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0001::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0002 {max-width:512px; max-height:512px; }
.bambou0002::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0002::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0003 {max-width:512px; max-height:512px; }
.bambou0003::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0003::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0004 {max-width:512px; max-height:512px; }
.bambou0004::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0004::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0005 {max-width:512px; max-height:512px; }
.bambou0005::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0005::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0006 {max-width:512px; max-height:512px; }
.bambou0006::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0006::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0007 {max-width:512px; max-height:512px; }
.bambou0007::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0007::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0008 {max-width:512px; max-height:512px; }
.bambou0008::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-0.png);padding: 0; }
div.bambou0008::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0009 {max-width:512px; max-height:512px; }
.bambou0009::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0009::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0010 {max-width:512px; max-height:512px; }
.bambou0010::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0010::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0011 {max-width:512px; max-height:512px; }
.bambou0011::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0011::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0012 {max-width:512px; max-height:512px; }
.bambou0012::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0012::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0013 {max-width:512px; max-height:512px; }
.bambou0013::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0013::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0014 {max-width:512px; max-height:512px; }
.bambou0014::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0014::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0015 {max-width:512px; max-height:512px; }
.bambou0015::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0015::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0016 {max-width:512px; max-height:512px; }
.bambou0016::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0016::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0017 {max-width:512px; max-height:512px; }
.bambou0017::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-1.png);padding: 0; }
div.bambou0017::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0018 {max-width:512px; max-height:512px; }
.bambou0018::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0018::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0019 {max-width:512px; max-height:512px; }
.bambou0019::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0019::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0020 {max-width:512px; max-height:512px; }
.bambou0020::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0020::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0021 {max-width:512px; max-height:512px; }
.bambou0021::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0021::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0022 {max-width:512px; max-height:512px; }
.bambou0022::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0022::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0023 {max-width:512px; max-height:512px; }
.bambou0023::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0023::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0024 {max-width:512px; max-height:512px; }
.bambou0024::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0024::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0025 {max-width:512px; max-height:512px; }
.bambou0025::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0025::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0026 {max-width:512px; max-height:512px; }
.bambou0026::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-2.png);padding: 0; }
div.bambou0026::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0027 {max-width:512px; max-height:512px; }
.bambou0027::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0027::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0028 {max-width:512px; max-height:512px; }
.bambou0028::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0028::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0029 {max-width:512px; max-height:512px; }
.bambou0029::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0029::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0030 {max-width:512px; max-height:512px; }
.bambou0030::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0030::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0031 {max-width:512px; max-height:512px; }
.bambou0031::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0031::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0032 {max-width:512px; max-height:512px; }
.bambou0032::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0032::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0033 {max-width:512px; max-height:512px; }
.bambou0033::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0033::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0034 {max-width:512px; max-height:512px; }
.bambou0034::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0034::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0035 {max-width:512px; max-height:512px; }
.bambou0035::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-3.png);padding: 0; }
div.bambou0035::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0036 {max-width:512px; max-height:512px; }
.bambou0036::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0036::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0037 {max-width:512px; max-height:512px; }
.bambou0037::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0037::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0038 {max-width:512px; max-height:512px; }
.bambou0038::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0038::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0039 {max-width:512px; max-height:512px; }
.bambou0039::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0039::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0040 {max-width:512px; max-height:512px; }
.bambou0040::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0040::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0041 {max-width:512px; max-height:512px; }
.bambou0041::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0041::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0042 {max-width:512px; max-height:512px; }
.bambou0042::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0042::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0043 {max-width:512px; max-height:512px; }
.bambou0043::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0043::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0044 {max-width:512px; max-height:512px; }
.bambou0044::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-4.png);padding: 0; }
div.bambou0044::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0045 {max-width:512px; max-height:512px; }
.bambou0045::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0045::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0046 {max-width:512px; max-height:512px; }
.bambou0046::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0046::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0047 {max-width:512px; max-height:512px; }
.bambou0047::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0047::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0048 {max-width:512px; max-height:512px; }
.bambou0048::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0048::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0049 {max-width:512px; max-height:512px; }
.bambou0049::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0049::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0050 {max-width:512px; max-height:512px; }
.bambou0050::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0050::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0051 {max-width:512px; max-height:512px; }
.bambou0051::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0051::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0052 {max-width:512px; max-height:512px; }
.bambou0052::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0052::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0053 {max-width:512px; max-height:512px; }
.bambou0053::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-5.png);padding: 0; }
div.bambou0053::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0054 {max-width:512px; max-height:512px; }
.bambou0054::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-6.png);padding: 0; }
div.bambou0054::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0055 {max-width:512px; max-height:512px; }
.bambou0055::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-6.png);padding: 0; }
div.bambou0055::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0056 {max-width:512px; max-height:512px; }
.bambou0056::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-6.png);padding: 0; }
div.bambou0056::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0057 {max-width:512px; max-height:512px; }
.bambou0057::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-6.png);padding: 0; }
div.bambou0057::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0058 {max-width:512px; max-height:512px; }
.bambou0058::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(bambou-6.png);padding: 0; }
div.bambou0058::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0059 {max-width:512px; max-height:512px; }
.bambou0059::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(bambou-6.png);padding: 0; }
div.bambou0059::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.bambou0060 {max-width:512px; max-height:512px; }
.bambou0060::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(bambou-6.png);padding: 0; }
div.bambou0060::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:f2d3669382de19152de1dbf161da8529:d87bc8a32a354df20a419333dd737766:4d4e05505dff86ceddddb87709a0ca85$ */
