/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.Bambou_00_0000 {max-width:250px; max-height:250px; }
.Bambou_00_0000::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0000::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0001 {max-width:250px; max-height:250px; }
.Bambou_00_0001::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0001::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0002 {max-width:250px; max-height:250px; }
.Bambou_00_0002::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 14.285714285714286%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0002::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0003 {max-width:250px; max-height:250px; }
.Bambou_00_0003::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 28.571428571428573%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0003::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0004 {max-width:250px; max-height:250px; }
.Bambou_00_0004::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 42.857142857142854%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0004::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0005 {max-width:250px; max-height:250px; }
.Bambou_00_0005::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 57.142857142857146%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0005::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0006 {max-width:250px; max-height:250px; }
.Bambou_00_0006::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 71.42857142857143%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0006::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0007 {max-width:250px; max-height:250px; }
.Bambou_00_0007::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 85.71428571428571%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0007::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0008 {max-width:250px; max-height:250px; }
.Bambou_00_0008::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 100%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0008::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0009 {max-width:250px; max-height:250px; }
.Bambou_00_0009::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0009::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0010 {max-width:250px; max-height:250px; }
.Bambou_00_0010::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0010::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0011 {max-width:250px; max-height:250px; }
.Bambou_00_0011::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0011::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0012 {max-width:250px; max-height:250px; }
.Bambou_00_0012::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0012::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0013 {max-width:250px; max-height:250px; }
.Bambou_00_0013::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0013::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0014 {max-width:250px; max-height:250px; }
.Bambou_00_0014::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0014::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0015 {max-width:250px; max-height:250px; }
.Bambou_00_0015::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 0%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0015::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0016 {max-width:250px; max-height:250px; }
.Bambou_00_0016::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 14.285714285714286%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0016::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0017 {max-width:250px; max-height:250px; }
.Bambou_00_0017::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 28.571428571428573%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0017::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0018 {max-width:250px; max-height:250px; }
.Bambou_00_0018::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 42.857142857142854%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0018::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0019 {max-width:250px; max-height:250px; }
.Bambou_00_0019::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 57.142857142857146%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0019::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0020 {max-width:250px; max-height:250px; }
.Bambou_00_0020::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 71.42857142857143%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0020::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0021 {max-width:250px; max-height:250px; }
.Bambou_00_0021::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 85.71428571428571%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0021::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0022 {max-width:250px; max-height:250px; }
.Bambou_00_0022::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 100%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0022::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0023 {max-width:250px; max-height:250px; }
.Bambou_00_0023::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 14.285714285714286%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0023::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0024 {max-width:250px; max-height:250px; }
.Bambou_00_0024::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 14.285714285714286%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0024::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0025 {max-width:250px; max-height:250px; }
.Bambou_00_0025::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 14.285714285714286%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0025::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0026 {max-width:250px; max-height:250px; }
.Bambou_00_0026::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 14.285714285714286%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0026::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0027 {max-width:250px; max-height:250px; }
.Bambou_00_0027::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 14.285714285714286%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0027::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0028 {max-width:250px; max-height:250px; }
.Bambou_00_0028::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 14.285714285714286%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0028::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0029 {max-width:250px; max-height:250px; }
.Bambou_00_0029::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 28.571428571428573%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0029::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0030 {max-width:250px; max-height:250px; }
.Bambou_00_0030::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 42.857142857142854%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0030::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0031 {max-width:250px; max-height:250px; }
.Bambou_00_0031::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 57.142857142857146%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0031::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0032 {max-width:250px; max-height:250px; }
.Bambou_00_0032::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 71.42857142857143%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0032::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0033 {max-width:250px; max-height:250px; }
.Bambou_00_0033::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 85.71428571428571%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0033::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0034 {max-width:250px; max-height:250px; }
.Bambou_00_0034::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 100%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0034::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0035 {max-width:250px; max-height:250px; }
.Bambou_00_0035::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 28.571428571428573%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0035::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0036 {max-width:250px; max-height:250px; }
.Bambou_00_0036::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 28.571428571428573%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0036::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0037 {max-width:250px; max-height:250px; }
.Bambou_00_0037::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 28.571428571428573%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0037::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0038 {max-width:250px; max-height:250px; }
.Bambou_00_0038::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 28.571428571428573%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0038::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0039 {max-width:250px; max-height:250px; }
.Bambou_00_0039::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 28.571428571428573%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0039::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0040 {max-width:250px; max-height:250px; }
.Bambou_00_0040::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 42.857142857142854%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0040::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0041 {max-width:250px; max-height:250px; }
.Bambou_00_0041::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 57.142857142857146%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0041::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0042 {max-width:250px; max-height:250px; }
.Bambou_00_0042::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 71.42857142857143%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0042::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0043 {max-width:250px; max-height:250px; }
.Bambou_00_0043::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 85.71428571428571%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0043::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0044 {max-width:250px; max-height:250px; }
.Bambou_00_0044::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 100%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0044::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0045 {max-width:250px; max-height:250px; }
.Bambou_00_0045::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 42.857142857142854%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0045::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0046 {max-width:250px; max-height:250px; }
.Bambou_00_0046::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 42.857142857142854%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0046::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0047 {max-width:250px; max-height:250px; }
.Bambou_00_0047::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 42.857142857142854%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0047::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0048 {max-width:250px; max-height:250px; }
.Bambou_00_0048::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 42.857142857142854%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0048::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0049 {max-width:250px; max-height:250px; }
.Bambou_00_0049::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 57.142857142857146%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0049::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0050 {max-width:250px; max-height:250px; }
.Bambou_00_0050::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 71.42857142857143%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0050::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0051 {max-width:250px; max-height:250px; }
.Bambou_00_0051::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 85.71428571428571%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0051::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0052 {max-width:250px; max-height:250px; }
.Bambou_00_0052::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 100%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0052::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0053 {max-width:250px; max-height:250px; }
.Bambou_00_0053::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 57.142857142857146%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0053::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0054 {max-width:250px; max-height:250px; }
.Bambou_00_0054::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 57.142857142857146%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0054::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0055 {max-width:250px; max-height:250px; }
.Bambou_00_0055::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 57.142857142857146%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0055::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0056 {max-width:250px; max-height:250px; }
.Bambou_00_0056::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 71.42857142857143%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0056::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0057 {max-width:250px; max-height:250px; }
.Bambou_00_0057::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 85.71428571428571%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0057::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0058 {max-width:250px; max-height:250px; }
.Bambou_00_0058::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 100%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0058::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0059 {max-width:250px; max-height:250px; }
.Bambou_00_0059::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 71.42857142857143%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0059::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0060 {max-width:250px; max-height:250px; }
.Bambou_00_0060::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 71.42857142857143%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0060::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0061 {max-width:250px; max-height:250px; }
.Bambou_00_0061::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 85.71428571428571%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0061::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0062 {max-width:250px; max-height:250px; }
.Bambou_00_0062::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 100%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0062::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0063 {max-width:250px; max-height:250px; }
.Bambou_00_0063::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 85.71428571428571%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0063::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0064 {max-width:250px; max-height:250px; }
.Bambou_00_0064::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 100%;background-size: 800% 800%;background-image: url(bambou_test-0.png);padding: 0; }
div.Bambou_00_0064::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0065 {max-width:250px; max-height:250px; }
.Bambou_00_0065::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 0%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0065::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0066 {max-width:250px; max-height:250px; }
.Bambou_00_0066::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 0% 100%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0066::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0067 {max-width:250px; max-height:250px; }
.Bambou_00_0067::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 0%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0067::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0068 {max-width:250px; max-height:250px; }
.Bambou_00_0068::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 14.285714285714286% 100%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0068::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0069 {max-width:250px; max-height:250px; }
.Bambou_00_0069::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 0%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0069::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0070 {max-width:250px; max-height:250px; }
.Bambou_00_0070::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 28.571428571428573% 100%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0070::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0071 {max-width:250px; max-height:250px; }
.Bambou_00_0071::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 0%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0071::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0072 {max-width:250px; max-height:250px; }
.Bambou_00_0072::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 42.857142857142854% 100%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0072::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0073 {max-width:250px; max-height:250px; }
.Bambou_00_0073::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 0%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0073::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0074 {max-width:250px; max-height:250px; }
.Bambou_00_0074::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 57.142857142857146% 100%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0074::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0075 {max-width:250px; max-height:250px; }
.Bambou_00_0075::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 0%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0075::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0076 {max-width:250px; max-height:250px; }
.Bambou_00_0076::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 71.42857142857143% 100%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0076::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0077 {max-width:250px; max-height:250px; }
.Bambou_00_0077::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 0%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0077::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0078 {max-width:250px; max-height:250px; }
.Bambou_00_0078::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 85.71428571428571% 100%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0078::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0079 {max-width:250px; max-height:250px; }
.Bambou_00_0079::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 0%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0079::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}
.Bambou_00_0080 {max-width:250px; max-height:250px; }
.Bambou_00_0080::after {content: '\00a0';display: inline-block; width:250px; height:250px; background-position: 100% 100%;background-size: 800% 200%;background-image: url(bambou_test-1.png);padding: 0; }
div.Bambou_00_0080::after {max-width:250px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:a76ed4783a234151c87aa8b49eee8c77:68ecfba40963b7379c17e5f4c7102747:18d9c50e8b38ed2ce36d196a9f8ef8b0$ */
