/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.ficus0000 {max-width:512px; max-height:512px; }
.ficus0000::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0000::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0001 {max-width:512px; max-height:512px; }
.ficus0001::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0001::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0002 {max-width:512px; max-height:512px; }
.ficus0002::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0002::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0003 {max-width:512px; max-height:512px; }
.ficus0003::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0003::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0004 {max-width:512px; max-height:512px; }
.ficus0004::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0004::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0005 {max-width:512px; max-height:512px; }
.ficus0005::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0005::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0006 {max-width:512px; max-height:512px; }
.ficus0006::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0006::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0007 {max-width:512px; max-height:512px; }
.ficus0007::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0007::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0008 {max-width:512px; max-height:512px; }
.ficus0008::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-0.png);padding: 0; }
div.ficus0008::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0009 {max-width:512px; max-height:512px; }
.ficus0009::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0009::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0010 {max-width:512px; max-height:512px; }
.ficus0010::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0010::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0011 {max-width:512px; max-height:512px; }
.ficus0011::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0011::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0012 {max-width:512px; max-height:512px; }
.ficus0012::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0012::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0013 {max-width:512px; max-height:512px; }
.ficus0013::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0013::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0014 {max-width:512px; max-height:512px; }
.ficus0014::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0014::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0015 {max-width:512px; max-height:512px; }
.ficus0015::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0015::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0016 {max-width:512px; max-height:512px; }
.ficus0016::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0016::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0017 {max-width:512px; max-height:512px; }
.ficus0017::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-1.png);padding: 0; }
div.ficus0017::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0018 {max-width:512px; max-height:512px; }
.ficus0018::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0018::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0019 {max-width:512px; max-height:512px; }
.ficus0019::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0019::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0020 {max-width:512px; max-height:512px; }
.ficus0020::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0020::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0021 {max-width:512px; max-height:512px; }
.ficus0021::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0021::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0022 {max-width:512px; max-height:512px; }
.ficus0022::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0022::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0023 {max-width:512px; max-height:512px; }
.ficus0023::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0023::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0024 {max-width:512px; max-height:512px; }
.ficus0024::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0024::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0025 {max-width:512px; max-height:512px; }
.ficus0025::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0025::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0026 {max-width:512px; max-height:512px; }
.ficus0026::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-2.png);padding: 0; }
div.ficus0026::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0027 {max-width:512px; max-height:512px; }
.ficus0027::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0027::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0028 {max-width:512px; max-height:512px; }
.ficus0028::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0028::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0029 {max-width:512px; max-height:512px; }
.ficus0029::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0029::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0030 {max-width:512px; max-height:512px; }
.ficus0030::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0030::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0031 {max-width:512px; max-height:512px; }
.ficus0031::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0031::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0032 {max-width:512px; max-height:512px; }
.ficus0032::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0032::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0033 {max-width:512px; max-height:512px; }
.ficus0033::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0033::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0034 {max-width:512px; max-height:512px; }
.ficus0034::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0034::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0035 {max-width:512px; max-height:512px; }
.ficus0035::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-3.png);padding: 0; }
div.ficus0035::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0036 {max-width:512px; max-height:512px; }
.ficus0036::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0036::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0037 {max-width:512px; max-height:512px; }
.ficus0037::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0037::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0038 {max-width:512px; max-height:512px; }
.ficus0038::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0038::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0039 {max-width:512px; max-height:512px; }
.ficus0039::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0039::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0040 {max-width:512px; max-height:512px; }
.ficus0040::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0040::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0041 {max-width:512px; max-height:512px; }
.ficus0041::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0041::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0042 {max-width:512px; max-height:512px; }
.ficus0042::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0042::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0043 {max-width:512px; max-height:512px; }
.ficus0043::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0043::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0044 {max-width:512px; max-height:512px; }
.ficus0044::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-4.png);padding: 0; }
div.ficus0044::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0045 {max-width:512px; max-height:512px; }
.ficus0045::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0045::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0046 {max-width:512px; max-height:512px; }
.ficus0046::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0046::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0047 {max-width:512px; max-height:512px; }
.ficus0047::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0047::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0048 {max-width:512px; max-height:512px; }
.ficus0048::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0048::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0049 {max-width:512px; max-height:512px; }
.ficus0049::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0049::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0050 {max-width:512px; max-height:512px; }
.ficus0050::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0050::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0051 {max-width:512px; max-height:512px; }
.ficus0051::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0051::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0052 {max-width:512px; max-height:512px; }
.ficus0052::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0052::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0053 {max-width:512px; max-height:512px; }
.ficus0053::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-5.png);padding: 0; }
div.ficus0053::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0054 {max-width:512px; max-height:512px; }
.ficus0054::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-6.png);padding: 0; }
div.ficus0054::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0055 {max-width:512px; max-height:512px; }
.ficus0055::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-6.png);padding: 0; }
div.ficus0055::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0056 {max-width:512px; max-height:512px; }
.ficus0056::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-6.png);padding: 0; }
div.ficus0056::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0057 {max-width:512px; max-height:512px; }
.ficus0057::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-6.png);padding: 0; }
div.ficus0057::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0058 {max-width:512px; max-height:512px; }
.ficus0058::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(ficus-6.png);padding: 0; }
div.ficus0058::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0059 {max-width:512px; max-height:512px; }
.ficus0059::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(ficus-6.png);padding: 0; }
div.ficus0059::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.ficus0060 {max-width:512px; max-height:512px; }
.ficus0060::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(ficus-6.png);padding: 0; }
div.ficus0060::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:0863798822e7554085037b39ef4f91ff:c6f7a75769b804651190c357e4ebea32:def0934fcc596b39c9b7d60cc401f0c6$ */
