/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.monstera0000 {max-width:512px; max-height:512px; }
.monstera0000::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0000::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0001 {max-width:512px; max-height:512px; }
.monstera0001::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0001::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0002 {max-width:512px; max-height:512px; }
.monstera0002::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0002::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0003 {max-width:512px; max-height:512px; }
.monstera0003::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0003::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0004 {max-width:512px; max-height:512px; }
.monstera0004::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0004::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0005 {max-width:512px; max-height:512px; }
.monstera0005::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0005::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0006 {max-width:512px; max-height:512px; }
.monstera0006::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0006::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0007 {max-width:512px; max-height:512px; }
.monstera0007::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0007::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0008 {max-width:512px; max-height:512px; }
.monstera0008::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-0.png);padding: 0; }
div.monstera0008::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0009 {max-width:512px; max-height:512px; }
.monstera0009::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0009::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0010 {max-width:512px; max-height:512px; }
.monstera0010::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0010::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0011 {max-width:512px; max-height:512px; }
.monstera0011::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0011::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0012 {max-width:512px; max-height:512px; }
.monstera0012::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0012::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0013 {max-width:512px; max-height:512px; }
.monstera0013::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0013::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0014 {max-width:512px; max-height:512px; }
.monstera0014::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0014::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0015 {max-width:512px; max-height:512px; }
.monstera0015::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0015::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0016 {max-width:512px; max-height:512px; }
.monstera0016::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0016::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0017 {max-width:512px; max-height:512px; }
.monstera0017::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-1.png);padding: 0; }
div.monstera0017::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0018 {max-width:512px; max-height:512px; }
.monstera0018::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0018::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0019 {max-width:512px; max-height:512px; }
.monstera0019::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0019::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0020 {max-width:512px; max-height:512px; }
.monstera0020::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0020::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0021 {max-width:512px; max-height:512px; }
.monstera0021::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0021::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0022 {max-width:512px; max-height:512px; }
.monstera0022::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0022::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0023 {max-width:512px; max-height:512px; }
.monstera0023::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0023::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0024 {max-width:512px; max-height:512px; }
.monstera0024::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0024::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0025 {max-width:512px; max-height:512px; }
.monstera0025::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0025::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0026 {max-width:512px; max-height:512px; }
.monstera0026::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-2.png);padding: 0; }
div.monstera0026::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0027 {max-width:512px; max-height:512px; }
.monstera0027::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0027::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0028 {max-width:512px; max-height:512px; }
.monstera0028::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0028::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0029 {max-width:512px; max-height:512px; }
.monstera0029::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0029::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0030 {max-width:512px; max-height:512px; }
.monstera0030::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0030::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0031 {max-width:512px; max-height:512px; }
.monstera0031::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0031::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0032 {max-width:512px; max-height:512px; }
.monstera0032::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0032::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0033 {max-width:512px; max-height:512px; }
.monstera0033::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0033::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0034 {max-width:512px; max-height:512px; }
.monstera0034::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0034::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0035 {max-width:512px; max-height:512px; }
.monstera0035::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-3.png);padding: 0; }
div.monstera0035::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0036 {max-width:512px; max-height:512px; }
.monstera0036::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0036::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0037 {max-width:512px; max-height:512px; }
.monstera0037::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0037::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0038 {max-width:512px; max-height:512px; }
.monstera0038::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0038::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0039 {max-width:512px; max-height:512px; }
.monstera0039::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0039::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0040 {max-width:512px; max-height:512px; }
.monstera0040::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0040::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0041 {max-width:512px; max-height:512px; }
.monstera0041::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0041::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0042 {max-width:512px; max-height:512px; }
.monstera0042::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0042::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0043 {max-width:512px; max-height:512px; }
.monstera0043::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0043::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0044 {max-width:512px; max-height:512px; }
.monstera0044::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-4.png);padding: 0; }
div.monstera0044::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0045 {max-width:512px; max-height:512px; }
.monstera0045::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0045::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0046 {max-width:512px; max-height:512px; }
.monstera0046::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0046::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0047 {max-width:512px; max-height:512px; }
.monstera0047::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0047::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0048 {max-width:512px; max-height:512px; }
.monstera0048::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0048::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0049 {max-width:512px; max-height:512px; }
.monstera0049::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0049::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0050 {max-width:512px; max-height:512px; }
.monstera0050::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0050::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0051 {max-width:512px; max-height:512px; }
.monstera0051::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0051::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0052 {max-width:512px; max-height:512px; }
.monstera0052::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0052::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0053 {max-width:512px; max-height:512px; }
.monstera0053::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-5.png);padding: 0; }
div.monstera0053::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0054 {max-width:512px; max-height:512px; }
.monstera0054::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-6.png);padding: 0; }
div.monstera0054::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0055 {max-width:512px; max-height:512px; }
.monstera0055::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-6.png);padding: 0; }
div.monstera0055::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0056 {max-width:512px; max-height:512px; }
.monstera0056::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-6.png);padding: 0; }
div.monstera0056::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0057 {max-width:512px; max-height:512px; }
.monstera0057::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-6.png);padding: 0; }
div.monstera0057::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0058 {max-width:512px; max-height:512px; }
.monstera0058::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(monstera-6.png);padding: 0; }
div.monstera0058::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0059 {max-width:512px; max-height:512px; }
.monstera0059::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(monstera-6.png);padding: 0; }
div.monstera0059::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.monstera0060 {max-width:512px; max-height:512px; }
.monstera0060::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(monstera-6.png);padding: 0; }
div.monstera0060::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:a503defc8e82d2970525cb3e75453981:379a56ec03ec33a7a55a5f3d42fad32d:66e20dffbb47c108dd46ae89ce85f4fe$ */
