/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.paquerette0000 {max-width:512px; max-height:512px; }
.paquerette0000::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0000::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0001 {max-width:512px; max-height:512px; }
.paquerette0001::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0001::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0002 {max-width:512px; max-height:512px; }
.paquerette0002::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0002::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0003 {max-width:512px; max-height:512px; }
.paquerette0003::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0003::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0004 {max-width:512px; max-height:512px; }
.paquerette0004::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0004::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0005 {max-width:512px; max-height:512px; }
.paquerette0005::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0005::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0006 {max-width:512px; max-height:512px; }
.paquerette0006::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0006::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0007 {max-width:512px; max-height:512px; }
.paquerette0007::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0007::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0008 {max-width:512px; max-height:512px; }
.paquerette0008::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-0.png);padding: 0; }
div.paquerette0008::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0009 {max-width:512px; max-height:512px; }
.paquerette0009::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0009::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0010 {max-width:512px; max-height:512px; }
.paquerette0010::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0010::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0011 {max-width:512px; max-height:512px; }
.paquerette0011::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0011::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0012 {max-width:512px; max-height:512px; }
.paquerette0012::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0012::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0013 {max-width:512px; max-height:512px; }
.paquerette0013::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0013::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0014 {max-width:512px; max-height:512px; }
.paquerette0014::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0014::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0015 {max-width:512px; max-height:512px; }
.paquerette0015::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0015::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0016 {max-width:512px; max-height:512px; }
.paquerette0016::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0016::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0017 {max-width:512px; max-height:512px; }
.paquerette0017::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-1.png);padding: 0; }
div.paquerette0017::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0018 {max-width:512px; max-height:512px; }
.paquerette0018::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0018::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0019 {max-width:512px; max-height:512px; }
.paquerette0019::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0019::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0020 {max-width:512px; max-height:512px; }
.paquerette0020::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0020::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0021 {max-width:512px; max-height:512px; }
.paquerette0021::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0021::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0022 {max-width:512px; max-height:512px; }
.paquerette0022::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0022::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0023 {max-width:512px; max-height:512px; }
.paquerette0023::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0023::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0024 {max-width:512px; max-height:512px; }
.paquerette0024::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0024::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0025 {max-width:512px; max-height:512px; }
.paquerette0025::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0025::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0026 {max-width:512px; max-height:512px; }
.paquerette0026::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-2.png);padding: 0; }
div.paquerette0026::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0027 {max-width:512px; max-height:512px; }
.paquerette0027::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0027::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0028 {max-width:512px; max-height:512px; }
.paquerette0028::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0028::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0029 {max-width:512px; max-height:512px; }
.paquerette0029::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0029::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0030 {max-width:512px; max-height:512px; }
.paquerette0030::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0030::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0031 {max-width:512px; max-height:512px; }
.paquerette0031::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0031::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0032 {max-width:512px; max-height:512px; }
.paquerette0032::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0032::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0033 {max-width:512px; max-height:512px; }
.paquerette0033::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0033::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0034 {max-width:512px; max-height:512px; }
.paquerette0034::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0034::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0035 {max-width:512px; max-height:512px; }
.paquerette0035::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-3.png);padding: 0; }
div.paquerette0035::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0036 {max-width:512px; max-height:512px; }
.paquerette0036::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0036::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0037 {max-width:512px; max-height:512px; }
.paquerette0037::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0037::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0038 {max-width:512px; max-height:512px; }
.paquerette0038::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0038::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0039 {max-width:512px; max-height:512px; }
.paquerette0039::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0039::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0040 {max-width:512px; max-height:512px; }
.paquerette0040::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0040::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0041 {max-width:512px; max-height:512px; }
.paquerette0041::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0041::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0042 {max-width:512px; max-height:512px; }
.paquerette0042::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0042::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0043 {max-width:512px; max-height:512px; }
.paquerette0043::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0043::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0044 {max-width:512px; max-height:512px; }
.paquerette0044::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-4.png);padding: 0; }
div.paquerette0044::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0045 {max-width:512px; max-height:512px; }
.paquerette0045::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0045::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0046 {max-width:512px; max-height:512px; }
.paquerette0046::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0046::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0047 {max-width:512px; max-height:512px; }
.paquerette0047::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0047::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0048 {max-width:512px; max-height:512px; }
.paquerette0048::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0048::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0049 {max-width:512px; max-height:512px; }
.paquerette0049::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0049::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0050 {max-width:512px; max-height:512px; }
.paquerette0050::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0050::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0051 {max-width:512px; max-height:512px; }
.paquerette0051::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0051::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0052 {max-width:512px; max-height:512px; }
.paquerette0052::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0052::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0053 {max-width:512px; max-height:512px; }
.paquerette0053::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-5.png);padding: 0; }
div.paquerette0053::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0054 {max-width:512px; max-height:512px; }
.paquerette0054::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-6.png);padding: 0; }
div.paquerette0054::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0055 {max-width:512px; max-height:512px; }
.paquerette0055::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-6.png);padding: 0; }
div.paquerette0055::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0056 {max-width:512px; max-height:512px; }
.paquerette0056::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 0.09727626459143969% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-6.png);padding: 0; }
div.paquerette0056::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0057 {max-width:512px; max-height:512px; }
.paquerette0057::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-6.png);padding: 0; }
div.paquerette0057::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0058 {max-width:512px; max-height:512px; }
.paquerette0058::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 99.90272373540856% 0.09727626459143969%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-6.png);padding: 0; }
div.paquerette0058::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0059 {max-width:512px; max-height:512px; }
.paquerette0059::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 50%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-6.png);padding: 0; }
div.paquerette0059::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}
.paquerette0060 {max-width:512px; max-height:512px; }
.paquerette0060::after {content: '\00a0';display: inline-block; width:512px; height:512px; background-position: 50% 99.90272373540856%;background-size: 300.78125% 300.78125%;background-image: url(paquerette-6.png);padding: 0; }
div.paquerette0060::after {max-width:512px; width:100%;height:0;padding: 0 0 100% 0;}

/* $TexturePacker:SmartUpdate:06711b8567ddc79f2cffb94d1e020a1e:6634f7d0c71295a339f210ccada9fa15:37129ce540c159a327f242392e4412aa$ */
