@import url('./panchang.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(/fonts/Roboto-Regular.ttf) format('ttf');
}*/

:root {
    --green-normal: #52C099;
    --green-light: #78E2A9;
    --yellow-normal: #F4A021;
    --yellow-light: #ECCF68;
}

@layer components {
    .btn-border {
        @apply rounded-full border border-white;
    }
    .btn-bg {
        @apply bg-white bg-opacity-20;
    }
    .btn-round {
        @apply  p-2 lg:p-4;
    }
    .btn-oval {
        @apply p-4 py-2 lg:px-8 lg:py-4
    }
}

html, body {
    @apply h-full m-0 text-white text-14 lg:text-16 font-body;
    background: radial-gradient(var(--green-light), var(--green-normal));
}
