@import url('./panchang.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-normal: #52C099;
    --green-light: #78E2A9;
    --yellow-normal: #F4A021;
    --yellow-light: #ECCF68;
}

@layer components {
    .btn-border {
        @apply border border-white;
    }

    .btn-square {
        @apply rounded-lg p-2 xl:p-3;
    }

    .btn-bg {
        @apply bg-white bg-opacity-20;
    }

    .btn-round {
        @apply rounded-full p-2 xl:p-3;
    }

    .btn-oval {
        @apply rounded-full p-4 py-2 xl:px-7 xl:py-3
    }



    .bg-layered::before {
        @apply content-[''] absolute top-0 left-0 w-full h-full bg-white;
        opacity: 30%;
    }

    .bg-layered::after {
        @apply content-[''] absolute top-0 left-0 w-full h-full bg-green-normal;
        opacity: 20%;
    }
    .bg-gradient-green {
        background: radial-gradient(var(--green-light), var(--green-normal));
    }
    .bg-gradient-yellow {
        background: radial-gradient(var(--yellow-light), var(--yellow-normal));
    }
}

html, body {
    @apply h-full m-0 text-white text-14 xl:text-16 font-body leading-tight;
}

.Btn:hover .Btn__bg {
    @apply w-24 h-24;
}

.section {
    @apply relative w-full h-screen;
}