@import url('./panchang.css');
@import url('/public/images/png/aglaoneme.css');
@import url('/public/images/png/bambou.css');
@import url('/public/images/png/chlorophytum.css');
@import url('/public/images/png/eucalyptus.css');
@import url('/public/images/png/ficus.css');
@import url('/public/images/png/gerbera.css');
@import url('/public/images/png/monstera.css');
@import url('/public/images/png/paquerette.css');
@import url('/public/images/png/sansevieria.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-normal: #52C099;
    --green-light: #78E2A9;
    --orange-normal: #F4A021;
    --yellow-light: #ECCF68;
}

@layer components {
    .btn-border {
        @apply border border-white;
    }

    .btn-square {
        @apply rounded-lg p-2 xl:p-3;
    }

    .btn-bg {
        @apply bg-white bg-opacity-20;
    }

    .btn-round {
        @apply rounded-full p-2 xl:p-3;
    }

    .btn-oval {
        @apply rounded-full p-4 py-2 xl:px-7 xl:py-3
    }

    .bg-layered::before {
        @apply content-[''] absolute top-0 left-0 w-full h-full bg-white;
        opacity: 30%;
    }

    .bg-layered::after {
        @apply content-[''] absolute top-0 left-0 w-full h-full bg-green-normal;
        opacity: 20%;
    }

    .bg-gradient-green {
        background: radial-gradient(var(--green-light), var(--green-normal));
    }

    .bg-gradient-yellow {
        background: radial-gradient(var(--yellow-light), var(--orange-normal));
    }
}

html, body {
    @apply relative h-full font-body text-white text-14 xl:text-16 leading-tight m-0;
    max-width: 100vw;
    min-height: 100vh;
    /*overflow-x: hidden;*/
}

.Btn:hover .Btn__bg {
    @apply w-24 h-24;
}

.main {
    @apply relative z-10;
    padding-bottom: 100vh;
}

.section {
    @apply w-full h-screen;
    margin-top: 100vh;
}

.section__content {
    @apply fixed w-full h-full top-0 left-0 pointer-events-none;
}